.week_chart {
  /*background: #f0f0f0;*/
}

.week_chart--grid {
  opacity: 0.1;
}

.week_chart--line {
  transition: opacity 120ms ease-in-out;
}

.week_chart--line-enabled {
  opacity: 1;
}
.week_chart--line-disabled {
  opacity: 0.1;
}
