.week_chart {
  /*background: #f0f0f0;*/
}

.week_chart--grid {
  opacity: 0.1;
}

.week_chart--line {
  transition: opacity 120ms ease-in-out;
}

.week_chart--line-enabled {
  opacity: 1;
}
.week_chart--line-disabled {
  opacity: 0.1;
}

.week_chart--toggle {
  display: block;
  position: relative;
}
.week_chart--toggle rect,
.week_chart--toggle text {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
}
